{%extends 'base.html'%}
{%block title%} Welcome to IBlogs {%endblock%}
{%block content%}

<div class="container">
    <div class="row">

       <div class="col s12 ">


           {%for p in posts %}
           <div class="row">
               <div class="col s12 m8" >
           {{p.content |truncatewords:60| safe}}
           <div class="mt20">
               <a href="/blog/{{p.url}}" class="btn bg-primary">Read More.</a>
           </div>
               </div>
               <div class="col 12 m4">
                   <img src="/media/{{p.image}}"  class="responsive-img mt 20 sizing" style="margin-top:50px height:20px width:20px" alt="">
               </div>
<!--           <div class="col s12 m4">-->
<!--            <img src="/media/{{p.image}}">-->

        </div>
           {%endfor%}

       </div>

    </div>
</div>

{%endblock%}

