.bg-primary
{
background:#purple!important;

}
.mt20{
margin-top:20px;
}
.container-custom
{
width:90%!important;
margin:auto;

}
.img_res
{
height:500px;
width:1000px;
}
.sizing
{
height:200px;
width:200px;
}